<h2 class="sidebar-title">Popular posts</h2>
<div class="grid">
    {% for post in posts %}
    <div class="portfolio-item popular">
        {% if post.photo %}
        <img src="{{ post.photo.url }}" alt="{{ post.title }}"/>
        {% else %}
        <img src="https://quotefancy.com/media/wallpaper/3840x2160/1020141-Jon-Meacham-Quote-There-is-nothing-new-under-the-sun.jpg"
             alt="{{ post.photo.url }}"/>
        {% endif %}

        <div class="portfolio-text">
            <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
            <p>By {{post.author }} <span>|</span>{{ post.created_at|date:"d.m.Y" }}</p>
        </div>
    </div>
    {% endfor %}
</div>